#################################
# BACKEND - JAVA / MAVEN
#################################

java-web-spring-api-autoflex/target/
*.log
*.class
*.jar
*.war

#################################
# OS
#################################

.DS_Store
Thumbs.db
java-web-spring-api-autoflex/database/backups/inventory_db.backup
