#################################
# BACKEND - JAVA / MAVEN
#################################

java-web-spring-api-autoflex/target/
*.log
*.class
*.jar
*.war

#################################
# OS
#################################

.DS_Store
Thumbs.db
PENDENCIAS_REQUISITOS.md
ROTEIRO DE APRESENTACAO.txt
REQUISITOS.md
java-web-spring-api-autoflex/database/backups/inventory_db.backup
ROTEIRO_COMMITS.md
